In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np
import random
from faker import Faker

# Create a Faker object
fake = Faker()

# Set a seed for reproducibility
np.random.seed(0)
random.seed(0)

# Define the number of rows
num_rows = 50

# Create synthetic data
data = {
    'name': [fake.name() for _ in range(num_rows)],
    'email': [fake.email() for _ in range(num_rows)],
    'job_role': np.random.choice([
        'Software Engineer',
        'Data Scientist',
        'Data Analyst',
        'IT Support',
        'Automation Tester',
        'Senior Data Consultant',
        'Junior Developer'
    ], size=num_rows),
    'tenure': np.round(np.random.uniform(0, 10, size=num_rows), 1),
    'salary': np.random.randint(50000, 150000, size=num_rows),
    'promotion_history': np.random.choice([0, 1], size=num_rows),
    'training_hours': np.random.randint(0, 101, size=num_rows),
    'work_life_balance_score': np.random.randint(1, 6, size=num_rows),  # Scores in the range 1-5
    'turnover': np.random.choice([0, 1], size=num_rows)
}

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Introduce NULL values in some rows for selected columns
num_nulls = 5  # Number of null values to introduce per column
null_columns = ['email', 'tenure', 'salary']  # Columns to add null values

for col in null_columns:
    null_indices = random.sample(range(num_rows), num_nulls)
    df.loc[null_indices, col] = None

# Add some unrealistic dummy data to simulate data quality issues
df.loc[random.sample(range(num_rows), 3), 'salary'] = [-1000, 2000000, 0]  # Unrealistic salaries
df.loc[random.sample(range(num_rows), 2), 'job_role'] = ["Unknown", ""]  # Dummy/invalid job roles
df.loc[random.sample(range(num_rows), 2), 'work_life_balance_score'] = [6, 0]  # Out-of-range scores

# Print the updated DataFrame
print("Employee Turnover Prediction for HR Analytics:")
print(df)

# Save the DataFrame to a CSV file
df.to_csv('employee_turnover_prediction_data.csv', index=False)

Employee Turnover Prediction for HR Analytics:
                   name                         email                job_role  \
0        Cheryl Jackson          howard86@example.com       Automation Tester
1          Robert Smith           jmorrow@example.net  Senior Data Consultant
2          Jeffrey Shaw                          None       Software Engineer
3       James Mcpherson          rhonda21@example.net              IT Support
4       Timothy Chapman              qcox@example.com              IT Support
5          April Newton        lowerycody@example.com              IT Support
6          Eric Beasley           imorris@example.net                 Unknown
7       Jordan Martinez       darryljones@example.org              IT Support
8         Austin Powell           brian44@example.org  Senior Data Consultant
9          Michael Webb      edwardsjames@example.com            Data Analyst
10       Phillip Kelley          vaguirre@example.com       Automation Tester
11          Jason Moses      randyjohnson@example.net        Junior Developer
12        Kristi Parker        kevinbrown@example.com       Software Engineer
13          Sarah Mcgee    bennettkathryn@example.net       Software Engineer
14        Robert Melton           xtucker@example.com       Automation Tester
15        Chelsea Davis     smithmichelle@example.org            Data Analyst
16         Brenda Adams                          None          Data Scientist
17         Daniel Smith      martinlatoya@example.com        Junior Developer
18      Veronica Sparks             qlang@example.org        Junior Developer
19        Johnny Morris         codypayne@example.com       Software Engineer
20        Corey Compton      wellsclayton@example.com          Data Scientist
21         Laura Carter     friedmanemily@example.org  Senior Data Consultant
22     Melanie Marshall  rodriguezchelsea@example.com          Data Scientist
23       Victoria Evans   sarahcunningham@example.org  Senior Data Consultant
24         Maria Knight                          None       Software Engineer
25            Mark Bell      lynchmichael@example.net          Data Scientist
26         Randy Rivers                          None       Automation Tester
27       Dr. David Paul         pmartinez@example.net              IT Support
28        Paul Caldwell             ohill@example.com       Software Engineer
29       Donna Richards          robert71@example.net              IT Support
30         Andrew Black     christopher26@example.org  Senior Data Consultant
31         Lori Navarro           toddliu@example.org        Junior Developer
32  Michael Sherman DDS        foxpatrick@example.org       Software Engineer
33          Cheryl Odom       hensonjamie@example.org            Data Analyst
34        Dillon Torres        lisapowell@example.com              IT Support
35         Diane Fields    williamalvarez@example.org       Software Engineer
36           Larry Neal        amyjackson@example.com          Data Scientist
37       Douglas Brooks        yangandrew@example.com              IT Support
38         Theresa Gray  leonardelizabeth@example.com  Senior Data Consultant
39         Ryan Garrett      flowersjason@example.net
40       Alison Hickman      billycamacho@example.org              IT Support
41          Robert Wong     garrettwalker@example.net        Junior Developer
42       Dr. Diane Ryan            glopez@example.com       Software Engineer
43  Patricia Fitzgerald          jvasquez@example.org          Data Scientist
44       Jodi Robertson           brian79@example.com          Data Scientist
45       Danielle Ortiz          joseph14@example.org          Data Scientist
46          Kara Garcia         christy05@example.net       Software Engineer
47     Christopher Hill     chandlerjason@example.com            Data Analyst
48       Shelley Barnes                          None       Automation Tester
49        Patricia Shea       kevinmathis@example.com              IT Support

    tenure     salary  promotion_history  training_hours  \
0      1.9   106894.0                  1              35
1      7.4   124659.0                  1              86
2      2.2   146990.0                  0              61
3      1.4    64254.0                  1              69
4      3.2   101939.0                  0              87
5      1.5   139236.0                  0              43
6      2.2    87073.0                  1              32
7      3.9    73310.0                  0              11
8      9.0  2000000.0                  1              84
9      4.5   114570.0                  1              10
10     6.1   130577.0                  1              54
11     9.0   106356.0                  1              37
12     1.0    73306.0                  0              28
13     9.7        NaN                  0               2
14     6.5   128696.0                  0              27
15     1.7   142171.0                  1              83
16     3.6   148611.0                  1              89
17     7.5   128928.0                  1              23
18     6.1    -1000.0                  0              53
19     NaN   120838.0                  1              51
20     0.4    83920.0                  1              46
21     6.3   138870.0                  1              20
22     9.6        NaN                  1              53
23     6.5   129128.0                  0              29
24     6.4   140749.0                  0              67
25     NaN    83538.0                  1              35
26     5.8   131411.0                  1              39
27     4.1    58286.0                  0               9
28     4.7    68728.0                  0              73
29     6.2    63640.0                  0              41
30     NaN   118627.0                  1              23
31     NaN    95663.0                  1               3
32     NaN        NaN                  0              46
33     7.8   100586.0                  1              90
34     9.5   122130.0                  1              50
35     6.6    71752.0                  1               3
36     0.1   109715.0                  1              31
37     6.2        NaN                  1               9
38     6.7    57997.0                  0              10
39     9.7   103006.0                  0              27
40     8.8    90800.0                  0              45
41     5.1    65620.0                  1              71
42     0.6   120381.0                  0              39
43     4.5   142299.0                  1              61
44     0.2   104268.0                  0              85
45     4.4   119069.0                  1              97
46     9.8   118473.0                  1              44
47     3.6   141757.0                  0              34
48     4.8        0.0                  0              34
49     6.9    69608.0                  0              88

    work_life_balance_score  turnover
0                         2         1
1                         1         0
2                         5         0
3                         1         0
4                         4         1
5                         3         0
6                         1         0
7                         1         0
8                         2         0
9                         2         0
10                        1         0
11                        4         1
12                        1         1
13                        4         1
14                        1         0
15                        5         0
16                        6         1
17                        1         1
18                        2         1
19                        4         0
20                        5         1
21                        4         0
22                        3         1
23                        2         0
24                        2         1
25                        3         1
26                        2         1
27                        5         0
28                        3         1
29                        5         0
30                        5         0
31                        3         1
32                        4         0
33                        4         1
34                        0         0
35                        3         0
36                        5         1
37                        4         0
38                        4         0
39                        2         0
40                        2         0
41                        2         0
42                        2         0
43                        3         0
44                        1         0
45                        4         0
46                        2         1
47                        5         0
48                        4         1
49                        2         1